*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    min-height: 500px;
}

.form{
        height: 520px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    justify-content: space-between;
}

.inputs > input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    outline: none;
}

.inputs > input:hover{
    border: 1px solid black;
}

.inputs > input::placeholder{
    color: black;
}

.btn{
    text-align: center;
}

button{
    margin-top: 10px;
    width: 40%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    transition: ease all 0.5s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 15px;
}






.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .checkboxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .checkboxes2{
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
  }

  .checkboxes2 > input{
    vertical-align: middle;
  }

  .checkboxes2 > label{
    vertical-align: middle;
  }
